<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/xlhl-yan">xlhl</a> -->
<!--  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlhl.onlinejudge.mapper.PostThumbMapper">

    <resultMap id="BaseResultMap" type="com.xlhl.onlinejudge.model.entity.PostThumb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="PostId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,PostId,
        userId,createTime,updateTime
    </sql>
</mapper>
